# See https://docs.aspect.build/v/workflows/config
---
tasks:
  - format:
      queue: aspect-small-amd64
  - buildifier:
      queue: aspect-small-arm64
  - configure:
      queue: aspect-small-arm64
  - test:
      hooks:
        - type: before_task
          command: vmstat -a -S M -t 5 2>&1 > /tmp/vmstat_out &
        - type: after_task
          command: cat /tmp/vmstat_out
  - delivery:
      auto_deliver: true
      bazel:
        flags:
          - --noremote_upload_local_results
      rules:
        - deliverable: 'attr("tags", "\bdeliverable\b", //...)'
          condition:
            branches:
              - main
              - testing_delivery
        - deliverable:
            - //release:aspect_cli_delivery
          condition:
            only_on_change: false
            branches:
              - main
              - testing_delivery
