# See https://docs.aspect.build/v/workflows/config
---
tasks:
  - branch_freshness:
      update_strategy: none
  - format:
      queue: aspect-small-amd64
  - buildifier:
      queue: aspect-small-arm64
  - configure:
      queue: aspect-small-arm64
  - test:
      hooks:
        - type: before_task
          command: vmstat -a -S M -t 5 2>&1 > /tmp/vmstat_out &
        - type: after_task
          command: cat /tmp/vmstat_out
  - delivery:
      auto_deliver: true
      branches:
        - main
