[package]
name = "axl-lsp"
version.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = "1.0.100"
axl-runtime = { path = "../axl-runtime" }
starlark = "0.13.0"
starlark_lsp = "0.13.0"
