[package]
name = "starbuf-derive"
version.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = "1.0.100"
darling = "0.21.3"
proc-macro2 = "1.0.101"
quote = "1.0.40"
syn = "2.0.106"

[lib]
proc-macro = true

[dev-dependencies]
prettyplease = "0.2.37"
