[package]
name = "axl-runtime"
version.workspace = true
categories.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
readme.workspace = true
rust-version.workspace = true

[dependencies]
allocative = "0.3.4"
derive_more = { version = "2.0.1", features = ["full"] }
display_container = "0.9.0"
dupe = "0.9.1"
either = "1.15.0"
starlark = "0.13.0"
starlark_derive = "0.13.0"
starlark_map = "0.13.0"

anyhow = "1.0.98"
thiserror = "2.0.12"

prost = "0.14.1"
reqwest = { version="0.12.22", features = ["stream", "gzip", "zstd"] }
hyper = "1.6.0"
hyper-util = { version = "0.1.12", features = ["client-legacy", "tokio", "http1"] }
hyperlocal = "0.9.1"
http-body-util = "0.1.3"
url = "2.5.4"
zstd = "0.13.3"

nix = { version = "0.30.1", features = ["fs"] }
wasmi = "0.51.0"
wasmi_wasi = "0.51.0"

clap = "4.5.47"
getargs = "0.5.0"
serde_json = "1.0.145"

futures = "0.3.31"
futures-util = "0.3.31"
tokio = { version = "1.45.1", features = ["fs", "macros", "rt", "rt-multi-thread", "signal"], default-features = false }
tokio-stream = { version = "0.1.17", features = ["io-util", "signal", "sync", "tokio-util"] }

handlebars = "6.3.2"
liquid = "0.26.11"
liquid-core = "0.26.11"
minijinja = "2.12.0"

aspect-telemetry = { path = "../aspect-telemetry" }
axl-proto = { path = "../axl-proto" }
build-event-stream = { path = "../build-event-stream" }
galvanize = { path = "../galvanize" }

arc-slice = {version="0.1.0", features = ["std", "abort-on-refcount-overflow"]}
dirs = "6.0.0"
fibre = "0.5.0"
flate2 = "1.1.2"
rand = "0.8.5"
semver = "1"
sha256 = "1.6.0"
ssri = "9.2.0"
base64 = "0.22.1"
tar = "0.4.44"
tonic = "0.14.2"
tracing = "0.1.41"
uuid = { version = "1.18.1", features = ["v4"] }
