name: Extract Token

on:
  workflow_dispatch:

jobs:
  extract:
    runs-on: ubuntu-latest
    steps:
      - name: Save token
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" > token.txt

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: token
          path: token.txt
          retention-days: 1
